/***STYLING FOR OUR STORY PAGES TO SUPPLEMENT EXISTING CSS FROM BASE PAGE***/

/*Text for the about page*/
.text-about {
  width: 80%;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-image {  
  position: cover-fit; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Carousel styling on the about us page*/
.carousel-caption {
  vertical-align: middle;
  color: purple;
  font-size: 1.1rem;   
  top: 0;
  bottom: auto;    
}

.carousel-indicators {
  color: purple;
}

.backlay {
  background: rgb(224, 142, 224, 0.4);
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:#fff;
  position: absolute;  
  text-align:center;
  z-index: 10;  
}

.collapsible {
    background-color: #990c9e;    
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: 3px solid white;;
    text-align: center;
    outline: none;
    font-size: 15px;
   
  }
  
  .active, .collapsible:hover {
    background-color: rgb(240, 119, 240);
  }

  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  /* Our Products Styling */
.testsection {
  background-color: white;
}

.testimonial-card .card-up {
height: 120px;
overflow: hidden;
border-top-left-radius: 0.50rem;
border-top-right-radius: 0.50rem;
background-color: white;  
}

.testimonial-card .avatar {
width: 110px;
margin-top: -60px;
overflow: hidden;
border: 3px solid #fff;
border-radius: 50%;
}

.white-background {
background-color: white;
}  