/*Styling for map*/
.mapsection {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/*Styling for Message Form and Button*/
.message {
    border: 3px solid purple;        
    padding: 10px;
    background: rgb(229, 159, 238);
}

.message-button {
    background-color: rgb(190, 18, 113)!important;
    color: white!important;
}