{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-80">
    <div class="row h-80">
        <div class="col-8 col-md-7 my-auto">
            <h1 class="display-7 logo-font text-purple font-weight-bold outline my-auto">
                EssenChelle Oils
            </h1>
            <p class="backlay my-auto">EssenChelle oils are 100% organic oils sourced from the finest Distillers worldwide. We sell
                high quality oils with rich aromas and they have a myriad of uses for skincare and massage.
                We also offer high quality oil burners for your home, they are in high demand with our customers.
                The EssenChelle range is ready to expand, so look out for our new arrivals
                and please share your experiences with us, we know you will love our Essential Oils as much as we do.
            </p>
            <div class="my-5">
                <h2>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3 shadow-lg p-3 mb-4" aria-label="Shop Button">Shop Now</a>
                </h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}
