/*Styling for back buttons on pages*/
.backbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.2)
}

.btn-danger {
    background-color: rgb(206, 29, 138) !important;
}

/* Blogs */
.excerpt {
    height: 120px;    
}

.cardheight {
    min-height: 570px;
}

.created-text {
    color: red;
}

.display-block {
    padding: 5px;
}

 /*Styling for titles*/
 .card-title {
    height: 50px;
    text-align: center;   
    color: rgb(95, 7, 95);
    text-transform: capitalize;
    min-height: 20px;
}

/* alignment of images in blogs */
#centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-subtitle {
    text-align: center;
    color: purple;
}

.card-body2 {
    min-height: 200px;
    line-height: 1;
    padding: 5px;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 1.5;
}

.display-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB; 
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.author {
    color: purple;
    margin: 4px;
    text-transform: uppercase;
}

/*Styling for content in blogs */
/* Styling for unordered lists in blogs */
.unordered {
    line-height: 1.5;
    font-family: 'Marhey', cursive;
    text-align: left;
}

/* Styling for ordered lists in blogs */
.ordered {
    line-height: 1.5;
    text-align: left;
}

/* Styling for List items in blogs */
ul li,
ol li {
    font-weight: 400;
    font-size: 1rem;
}

ol {
    list-style: none;
    counter-reset: num;
}

ol li {
    counter-increment: num;
}

ol li::before {
    content: counter(num) ". ";
    color: green;
}

/*Styling for text content */
.content {
    line-height: 1.5;    
    font-size: 1rem;
    text-align: left;
}
