/*Styling for back buttons on pages*/
.backbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.2)
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
    
}

.btn-danger {
    background-color: rgb(206, 29, 138) !important;
}

.minheight {
    height: 100px;

}

.cardheight {
    min-height: 570px;
}

.created-text {
    color: red;
}

.display-block {
    padding: 5px;
}

.card{
border-radius: 4px;
background: #fff;
box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
 margin: 10px;
}

.card:hover{
 transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

 /*Styling for titles*/
 .card-title {
    text-align: center;
    color: rgb(95, 7, 95);
    text-transform: capitalize;
    min-height: 20px;
}

/* alignment of images in blogs */
#centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-subtitle {
    text-align: center;
    color: purple;
}

.card-body2 {
    min-height: 200px;
    line-height: 1;
    padding: 5px;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    line-height: 1.5;

}

.display-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for back buttons on pages*/
/* .backbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;

}   */
