{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="overlay"></div>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h2 class="text-center logo-font text-purple mt-2">Error 404: Page not Found</h2>           
            <h4 class = "text-center">Sorry! Couldn't find that Page :( </h4>
            <br>
            <img class="img-fluid" alt="Zen Moment"
            src="https://res.cloudinary.com/dspwticaf/image/upload/v1672231541/zenmoment_nmxpad.jpg" width="200" height="200"/>
            <br>
            <br>
            <a href="{% url 'home' %}" class="btn btn-light pink-button">Back</a>
            <h5 class="text-purple">Explore here instead</h5>
            <br>            
        </div>
    </div>
</div>
    
{% endblock %}