<!-- Footer -->
<footer id="footer" class="footer bg-setup main-bg-desktop main-bg-mobile text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-text">
                    <h4 class="footer-text logo-font">EssenChelle Oils</h4>
                    <p class="footer-text">EssenChelle Oils is an online ecommerce site that sells essential oils, massage oils
                        and oil burners and provies succinct information on how to use Essential Oils.
                    </p>
                    <p><a href="https://www.privacypolicygenerator.info/live.php?token=VfUz0YimamlAS4wY1vCcrZuzDwxiTfwd"
                    style="color: white;" target="_blank" rel="noopener"
                        aria-label="View our Private Policy (opens in a new tab)" role="button">Privacy Policy</a></p>
                    <p><a href=""
                        style="color: white;" target="_blank" rel="noopener"
                        aria-label="View Frequently Asked Questions (opens in a new tab)" role="button">Frequently Asked Questions</a></p>    
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact">
                    <h4 class="footer-text logo-font">Contact</h4>
                    <p class="footer-text">
                        <iconify-icon icon="cil:phone" width="20" class="white"></iconify-icon>&nbsp;+ 01-4590808
                    </p>
                    <p class="footer-text">
                        <iconify-icon icon="ci:mail" width="20" class="white"></iconify-icon>
                        &nbsp;info@essenchelleoils.com
                    </p>
                    <p class="footer-text">
                        <iconify-icon icon="bi:house-heart" width="20" class="white"></iconify-icon>&nbsp;36 York Street,
                        Dublin 8.
                    </p>
                </div>
            </div>
            <div class="col-md-4 footer-box text-white">
                <div class="social">
                    <h4 class="footer-text logo-font">Follow Us</h4>
                    <!-- Facebook -->
                    <a href="https://facebook.com" style="color: #3b5998;" target="_blank" rel="noopener"
                        aria-label="Visit us at our facebook page (opens in a new tab)" role="button">
                        <iconify-icon icon="logos:facebook" width="40"></iconify-icon>
                    </a>&nbsp;
                    <!-- Twitter -->
                    <a style="color: #55acee;" href="https://twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit us at our twitter page (opens in a new tab)" role="button">
                        <iconify-icon icon="logos:twitter" width="40"></iconify-icon>
                    </a>&nbsp;
                    <!-- Instagram -->
                    <a style="color: #458eff;" href="https://instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit us at our instagram page (opens in a new tab)" role="button">
                        <iconify-icon inline icon="icon-park:instagram" width="43"></iconify-icon>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <p class="m-0 text-center text-white">&copy; Essenchelle Oils 2023 </p>
    </div>
</footer>