<!-- Footer -->
<footer id="footer" class="footer bg-setup main-bg-desktop main-bg-mobile text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-text">
                    <h4 class="footer-text logo-font">EssenChelle Oils</h4>
                    <p class="footer-text">EssenChelle Oils is an online ecommerce site that sells essential oils,
                        massage oils and oil burners and includes a blog with information on how to use Essential Oils.
                    </p>
                    <p><a href="https://www.privacypolicygenerator.info/live.php?token=VfUz0YimamlAS4wY1vCcrZuzDwxiTfwd"
                            style="color: white;" target="_blank" rel="noopener"
                            aria-label="View our Private Policy (opens in a new tab)" role="button">Privacy Policy</a>
                    </p>
                    <p><a href="{% url 'faq' %}" style="color: white;" target="_blank" rel="noopener"
                            aria-label="View Frequently Asked Questions (opens in a new tab)" role="button">Frequently
                            Asked Questions</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact">
                    <h4 class="footer-text logo-font">Contact</h4>
                    <p class="footer-text">
                        <iconify-icon icon="cil:phone" width="20" class="white"></iconify-icon>&nbsp;+ 01-4590808
                    </p>
                    <p class="footer-text">
                        <iconify-icon icon="ci:mail" width="20" class="white"></iconify-icon>
                        &nbsp;info@essenchelleoils.com
                    </p>
                    <p class="footer-text">
                        <iconify-icon icon="bi:house-heart" width="20" class="white"></iconify-icon>&nbsp;28 Patrict
                        Street,
                        Dun laoghaire, Co Dublin.
                    </p>
                </div>
                <br>
                <div class="social">
                    <h4 class="footer-text logo-font">Follow Us</h4>
                    <!-- Facebook -->
                    <!--a href="https://www.facebook.com/profile.php?id=100090771283240" this is the facebok address
                    for the essenchelle site, but not sure it will remain active, so just added the generic facebook
                    page just in case, but it may still be active so included it above-->
                    <a href="https://www.facebook.com" style="color: #3b5998;" target="_blank" rel="noopener"
                        aria-label="Visit us at our facebook page (opens in a new tab)" role="button">
                        <iconify-icon icon="logos:facebook" width="36"></iconify-icon>
                    </a>&nbsp;
                    <!-- Twitter -->
                    <a style="color: #55acee;" href="https://twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit us at our twitter page (opens in a new tab)" role="button">
                        <iconify-icon icon="logos:twitter" width="36"></iconify-icon>
                    </a>&nbsp;
                    <!-- Instagram -->
                    <a style="color: #458eff;" href="https://instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit us at our instagram page (opens in a new tab)" role="button">
                        <iconify-icon inline icon="icon-park:instagram" width="39"></iconify-icon>
                    </a>                    
                </div>
            </div>
            <div class="col-md-4 footer-box text-white">

                <div class="newsletter mx-auto">
                    <h4 class="footer-text logo-font">Subscribe!</h4>
                    <p class="footer-text">Get exclusive offers by subscribing to our monthly newsletter</p>
                    <!-- Mailchimp signup form here -->

                    <div id="mc_embed_signup" class="container mt-4 mb-3 text-center">
                        <form
                            action="https://herokuapp.us9.list-manage.com/subscribe/post?u=8e05fc9a0fa3a9ef76a5c700f&amp;id=02d34d1f65&amp;f_id=00362de1f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="indicates-required"><span class="asterisk text-danger">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address <span class="asterisk text-danger">*</span>
                                    </label>
                                    <input type="email" value="email" name="EMAIL" class="required email" id="mce-EMAIL"
                                        required>
                                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_8e05fc9a0fa3a9ef76a5c700f_02d34d1f65" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="button">
                                        <p class="brandingLogo"><a href="http://eepurl.com/il9CcA"
                                                title="Mailchimp - email marketing made easy and fun"><img
                                                    src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                                                    alt="mailchimp logo" width="180" height="80"></a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script>
                (function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY';
                    ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->
        </div>
    </div>
    
    <hr>
    <p class="m-0 text-center text-white">&copy; EssenChelle Oils 2023 </p>
</footer>