<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item logo-font nav-link">By Price</a>
                <a href="" class="dropdown-item logo-font nav-link">By Rating</a>
                <a href="" class="dropdown-item logo-font nav-link">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item logo-font nav-link">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="product-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                EssenChelle Product Line
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=essential_oils" class="dropdown-item  logo-font nav-link">Essential Oils</a>
                <a href="{% url 'products' %}?category=massage_oils" class="dropdown-item  logo-font nav-link">Massage Oils</a>
                <a href="{% url 'products' %}?category=oil_burners" class="dropdown-item  logo-font nav-link">Oil Burners</a>                
                <a href="{% url 'products' %}?category=essential_oils,massage_oils,oil_burners" class="dropdown-item  logo-font nav-link">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="ourstory-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Story
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ourstory-link">
                <a href="" class="dropdown-item logo-font nav-link">About Us</a>
                <a href="" class="dropdown-item logo-font nav-link">Our Products</a>
                <a href="" class="dropdown-item logo-font nav-link">Blog</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item logo-font nav-link">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item logo-font nav-link">Deals</a>
                <a href="{% url 'products' %}?category=clearance_items" class="dropdown-item logo-font nav-link">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance_items" class="dropdown-item logo-font nav-link">All Specials</a>
            </div>
        </li>
    </ul>
</div>