{% extends "base.html" %}
{% load static %}

{% block content %}

{% block extracss %}    
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

<div id="top"></div>
<div class="overlay"></div>
<br>
<h1 class="text-center mx-auto text-purple">Product Spotlight</h1>
<hr>
{% block sidebar %}

{% include 'includes/sidebar.html' %}

{% endblock sidebar %}


<div class="container-fluid">

    <!--Blog Entries Column -->
    <div class="container-fluid">
        <div class="row">
            {% for post in post_list %}
            <div class="col-md-6 mt-3">
                <div class="card ">
                    <div class="card-body cardheight">                        
                        <h4 class="card-title text-purple mx-auto text-center">{{ post.title }}</h4>
                        {% if post.blog_image|slugify == "placeholder" %}
                        <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677333448/pa9lehu7vhb8pp5mvtyi.jpg" width="400" height="300" class="card-img-top img-fluid"
                            alt="{{ post.title }} generic">
                        {% else %}
                        <img class="card-img-top img-fluid" src=" {{ post.blog_image.url }}" width="400" height="300"
                            alt="{{ post.title }} photo">
                        {% endif %}
                        <p class="created-text text-center text-muted">{{ post.created_on }}</p>
                        <p class="card-text text-justify-center excerpt">{{ post.excerpt }}</p>
                        <hr class="text-purple">                        
                        <p class="card-text text-purple">{{ post.author }}
                        <iconify-icon inline icon="fa-regular:comments" width="23" class="btn-comment ml-3">
                                </iconify-icon>&nbsp;{{ post.number_of_comments }}</p>                                                                                            
                        <a href="{% url 'blog_details' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                        {% if request.user.is_superuser %}
                        <small class="ml-4">
                            <a href="{% url 'edit_blog' post.slug %}" class="btn btn-outline-success btn-sm">Edit</a>                           
                            <a href="{% url 'delete_blog' post.slug %}" class="btn btn-outline-danger btn-sm ml-2">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>    
</div>


<br>
{% if request.user.is_superuser %}
<a href="{% url 'add_blog'  %}" class="btn btn-success btnstyle ml-5 mb-3">Add Blog</a>
{% endif %}
<br>
<a id="top-button" class="text-purple" href="#top" aria-label="Going to top of page">Top of Screen &nbsp; <iconify-icon inline
    icon="mdi:arrow-up" class="greenicon" width="18"></iconify-icon>
</a>

{% endblock %}