{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="overlay"></div>
<br>
<h1 class="text-center mx-auto text-purple">Product Spotlight</h1>

{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
        margin: 10px;
    }

    .btn-danger {
        background-color: rgb(206, 29, 138) !important;
    }

    .minheight {
        height: 100px;

    }

    .cardheight {
        min-height: 570px;
    }

    .created-text {
        color: red;
    }

    .display-block {
        padding: 5px;


    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
       
        <div class="card-body">
            <h2 class="text-purple">Our Blog</h2>
            <p class="card-text"> This blog highlights the benefits and uses for using our EssenChelle product range,
                and includes our favorite recipes for individual products.
                You can used the following link to find more indepth knowledge for our essential and massage oils
            </p>
            <a href="" aria="brings you to a website, with more detailed information on essential oils"
                class="btn btn-danger">Learn more!</a>

                <h3 class=" mt-4 text-purple">Latest Posts</h3>
                {% for post in post_list %}
                <h2></h2>{{ post.title}}</h2>
                {% endfor %}
        </div>
    </div>
</div>



{% endblock sidebar %}


<div class="container-fluid">

    <!--Blog Entries Column -->
    <div class="container-fluid">
        <div class="row">
            {% for post in post_list %}
            <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-body cardheight">

                        <!-- <a href="{# url 'post_detail' post.slug  #}"> -->
                        <h4 class="card-title text-purple mx-auto text-center">{{ post.title }}</h4>
                        {% if "placeholder" in post.blog_image.url %}
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dspwticaf/image/upload/v1677333448/pa9lehu7vhb8pp5mvtyi.jpg" width="300" height="250"
                            alt="{{ post.title }} generic">
                        {% else %}
                        <img class="card-img-top img-fluid" src=" {{ post.blog_image.url }}" width="200" height="150"
                            alt="{{ post.title }} photo">
                        {% endif %}
                        <p class="created-text text-muted">{{ post.created_on }}</p>
                        <p class="card-text text-justify-center minheight">{{ post.excerpt }}</p>
                        <hr>
                        <div class="">
                            <p class="card-text text-muted text-purple">{{ post.author }}</p>
                        </div>
                        <br>                                                                     
                        <a href="{% url 'blog_details' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_blog' post.slug %}">Edit</a> 
                            <a class="text-danger" href="{% url 'delete_blog' post.slug %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<a href="{% url 'add_blog'  %}" class="btn btn-success btnstyle">Add Blog</a>


{% endblock %}