{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
<div id="top"></div>
<div class="overlay"></div>
<h2 class="logo-font text-purple text-center mt-3">Blog Details</h2>
<hr>
<div>
    <!-- Post title goes in these h1 tags -->
    <h2 class="card-title mt-3 text-center text-purple">{{ post.title }}</h2>
    <!-- Post author goes before the | the post's created date goes after -->
    <h6 class="post-subtitle text-muted text-center">{{ post.author }} | {{ post.created_on }}</h6>
    <br>
    <!-- The featured image URL goes in the src attribute -->
    <div class="text-center">
        {% if post.blog_image|slugify == "placeholder" %}
        <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677333448/pa9lehu7vhb8pp5mvtyi.jpg" width="400" height="300"
            alt="{{ post.title }} generic">
        {% else %}
        <img src=" {{ post.blog_image.url }}" width="400" height="300" alt="{{ post.title }} photo">
        {% endif %}
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 card2  mx-auto">
            <div class="card-body">
                <p class="blog-content">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>
</div>
<!--Superuser can edit or delete the post from here-->
{% if request.user.is_superuser %}
                        <small class="ml-4">
                            <a href="{% url 'edit_blog' post.slug %}" class="btn btn-outline-success btn-sm">Edit</a>                           
                            <a href="{% url 'delete_blog' post.slug %}" class="btn btn-outline-danger btn-sm ml-2">Delete</a>
                        </small>
                        {% endif %}
<hr>
<div class="row">
    <div class="col-md-8 card1 ">
        <h3 class="text-purple ml-2">Comment Section</h3>
        <p class="ml-2 text-muted">Current Reviews: {{post.number_of_comments}} comments</p>
        <p class="ml-2">Log in to add a comment for this Blog</p>
        <div class="commentsection">
            <!-- loop inside the empty control tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class="font-weight-bold" style="color: rgb(67, 6, 102); font-weight: 600;">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}
            </div>
            <!-- for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card1 mb-4  mt-3 ">
        <div class="card-body4">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3 class="text-purple ml-2">Leave a comment:</h3>
            <p class="ml-2">Posting as: {{ user.username }}</p>
            <form method="post" class="ml-2" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<br>
<div class="text-center">
<a href="{% url 'blog'  %}" class="btn btn-dark mx-auto">Back</a>
</div>
<br>

<a id="top-button" class="text-purple" href="#top" aria-label="Going to top of page">Top of Screen &nbsp; <iconify-icon inline
        icon="mdi:arrow-up"  width="18"></iconify-icon>
</a>

{% endblock content %}