{% extends "base.html" %}
{# block title #}EssenchelleOils/Delete Post{# endblock #}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if request.user.is_superuser %}

<div class="overlay"></div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4 text-purple mt-4">Blog Management</h2>
                <h5 class="text-muted">Delete your Blog</h5>
                <hr>
                <br>
                <div class="row">
                    <section class="display-block">
                        <div class="container-fluid align-center">
                            <br>
                            <h6 class="text-danger mb-3">Are you sure you want to Delete this Blog?</h6>
                            <h5 class="">{{ post.title }}</h5>
                            <br>
                            <form class="form text-muted" method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <br>
                                <button type="submit" class="btn btn-danger btn-lg center">Delete</button>
                            </form>
                        </div>
                        <hr>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="overlay"></div>
<br>
<h6 class="text-purple">Sorry, you are not allowed to delete this Post</h6>
{% endif %}
{% endif %}
    <div class="mt-3 mb-3">
        <a href="{% url 'blog' %}" class="btn btn-dark ml-5">Back</a>
    </div>
<br>

{% endblock %}