{% extends "base.html" %}
{# block title #}EssenchelleOils/Delete Post{# endblock #}


{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if request.user.is_superuser %}

<div class="overlay"></div>
<h2 class="text-center text-purple mt-3">
    <iconify-icon inline icon="material-symbols:delete-outline-rounded" class="text-purple"></iconify-icon>&nbsp;Delete
    your Blog:
</h2>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4 text-purple mt-4">Blog Management</h2>
                <h5 class="text-muted">Delete your Blog</h5>
                <hr>
                <br>
                <div class="row">
                    <section class="display-block">
                        <div class="container-fluid align-center">                            
                                    <br>
                                    <h5 class="text-danger mb-3">Are you sure you want to Delete this Blog?</h5>
                                    <h5 class="">{{ post.title }}</h5>
                                    <br>
                                    <form class="form text-muted" method="post">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <br>
                                        <button type="submit" class="btn btn-danger btn-lg center">Delete</button>
                                    </form>                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}
<br>
<h4 class="green">Sorry, you are not allowed to delete this Post</h4>
{% endif %}
{% endif %}

<br>
<div class="center">
    <a href="{% url 'blog' %}" class="btn btn-primary">BACK</a>
</div>
<br>

{% endblock %}