{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_superuser %}

<div class="overlay"></div>
<div class="container">
    <div class="row ">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-6 text-purple mt-4">Blog Management</h2>
            <h5 class="text-muted">Edit a Blog</h5>
            <hr>
        </div>
    </div>
    <p>Ensure to complete all fields</p>
    <div class="container">
        <div class="min-vh-50">            
                <br>
                <form class="form text-muted form mb-2" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>

                    <button type="submit" class="btn btn-success btn-lg ">Update</button>
                </form>
           

        </div>
    </div>
</div>



{% else %}
<div class="overlay"></div>
<br>
<h4 class="text-black">Sorry, you are not allowed to edit this Blog</h4>
{% endif %}
{% endif %}

<div class="text-center">
    <a href="{% url 'blog' %}" class="btn btn-dark ml-3 mx-auto">Back</a>
</div>
<br>

<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            height: 300
        });
    })
</script>

{% endblock %}