{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<!-- <style>

.backlay {
  background: rgb(224, 142, 224, 0.7);
  padding: 10px;
  border-radius: 15px;
  color: black;
  margin-bottom: 15px;
  
}
</style> -->
<h2 class="logo-font text-purple text-center mb-4">{% trans "Sign Up" %}</h2>
<hr>

<div class="backlay">
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
  <button type="submit" >{% trans "Sign Up" %}</button>
</form>

</div>

{% endblock %}