{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlayabout background"></div>
<br>
<div class="container-fluid">
    <h1 class="text-center logo-font text-purple">Welcome to Eschenelle Oils</h1>
    <div class="col-md-3 mx-auto">
        <img src="/media/teawithfriend.jpg" class="center-block about-image" alt="friendly tea with friend">
    </div>
    <p class="text-about text-center align-content-center">EsenChelle Oil started as a small enterprise in 2019 and was
        initially a market stall at a bootmarket.
        When there was considerable interest, I decided to start an online presence. I created a small blog with links
        where
        I could be contacted for the sale of a number of essential oils. As demand grew the range got bigger and I had a
        dedicated
        website created to deal with the increasing demand. The range has also grown to increase massage oils and
        aramotherapy Oil
        burners. The blog is still here to help users in making choices on the oils that would most benefit them. I love
        to have contact
        with potential customers, and would love you to contact me if you require any further information on the
        products, or if you
        would like to extend my range further.</p>

</div>

<section class="home-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <h2>Subscribe to the EssenChelle Newsletter</h2>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}