{% extends "base.html" %}
{% load static %}

{# block page_header #}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{# endblock #}

{% block content %}



<div id="top"></div>
<div class="overlay background"></div>
<div class="white-background">
  <br>
  <h2 class="logo-font text-purple text-center">More About Our Products</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 ">

    <div class="productinformation ">
      <div class="card h-100">
        <br>
        <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677340332/essenchelle/essentialoil_f3qcam.jpg"
          class="card-img-top" alt="essential oil products">
        <div class="card-body">
          <h5 class="card-title text-center text-purple">Essentail Oils</h5>
          <p class="card-text ">
            The EssenChelle Oil range is sourced from the most natural souces that can be found,
            they have not been tested on animals and the refinement process is top grade. They contain
            the healthiest ingredients and have been handpicked for our clientele. We provide full instructions
            and health guidelines and can help you achieve your objectives, both as a first time user or a long time
            user.
          </p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <br>
        <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677340332/essenchelle/massageoils_glimel.jpg"
          class="card-img-top" alt="Massage Oil Products">
        <div class="card-body">
          <h5 class="card-title text-center text-purple">Massage Oils</h5>
          <p class="card-text">Our massage oils offer the combination of the best quality and richest aroma that can be
            achieved. They
            are versatile oils, that can be used safely in every circumstance. Their potency is well within safety
            guidelines and we supply
            full documentation on how they can be used safely. Always ensure you follow the guidlines for a rewarding
            experience.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <br>
        <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677535260/essenchelle/oil_burner_efb0ao.jpg"
          class="card-img-top" alt="Aromatherapy Oil Burners">
        <div class="card-body">
          <h5 class="card-title text-center text-purple">Aromatherapy Burners</h5>
          <p class="card-text">
            We have a wonderful eclectic collection of aromatherapy burners, that will cater for a wide range of
            customer
            tastes,
            so explore our current range for the perfect Burner. Used in combination with our essential oils, you can
            fill
            your
            space with a soothing or uplifting atmosphere.
          </p>
        </div>

      </div>
    </div>
  </div>


  <section class="testsection">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h2 class="mb-4 text-purple mt-3 logo-font">Testimonials</h2>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          But don't just take our word for it, instead have a look at our testimonials from happy customers, who have
          already availed of our products. We love hearing from our customers and value your experience. Please share your
          experiences with us and maybe your testimonial will be featured in the future.

        </p>
      </div>
    </div>

    <div class="row text-center d-flex align-items-stretch">
      <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9d789b;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" class="rounded-circle img-fluid"
              alt="testimonial image 1">
          </div>
          <div class="card-body">
            <h4 class="mb-4"><strong>Rita Scolini</strong></h4>
            <hr>
            <p class="dark-grey-text mt-4">
              <i class="fas fa-quote-left pe-2"></i>&nbsp;I was a newbie to using essential oils, but have loved the
              Essenchelle Oil Product range,
              there is an oil for every issue, and the quality has been first class, would recommend Essenchelle Oils to
              anyone new &nbsp;<i class="fas fa-quote-right pe-2"></i></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7a81a8;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp" class="rounded-circle img-fluid"
              alt="testimonial image 2">
          </div>
          <div class="card-body">
            <h4 class="mb-4"><strong>Caroline Quinn</strong></h4>
            <hr>
            <p class="dark-grey-text mt-4">
              <i class="fas fa-quote-left pe-2"></i>&nbsp;I have been using essential oils for years, and have tried a
              variety of products, but when I
              started using your essential and massage oils, I felt I know longer had to shop around, great quality at a
              great price.&nbsp;<i class="fas fa-quote-right pe-2"></i>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-4 mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
          <div class="avatar mx-auto bg-white">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="rounded-circle img-fluid"
              alt="testimonial image 3">
          </div>
          <div class="card-body">
            <h4 class="mb-4"><strong>Aidan McKenna</strong></h4>
            <hr>
            <p class="dark-grey-text mt-4">
              <i class="fas fa-quote-left pe-2"></i>&nbsp;A friend introduced me to your products, and they couldn't
              stop raving about them,
              so I decided to try them, and never looked back, I love your blended massage oils, they are brilliant to
              use after a workout,
              always feel great after using them.&nbsp;<i class="fas fa-quote-right pe-2"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>

</div>


{% endblock %}