{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div id="top"></div>
<div class="overlay background"></div>

<h2 class="mt-2 logo-font text-purple text-center">More About Our Products</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="productinformation">
    <div class="card h-100">
      <br>
      <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677340332/essenchelle/essentialoil_f3qcam.jpg"
        class="card-img-top" alt="essential oil products" />
      <div class="card-body">
        <h5 class="card-title text-center text-purple">Essentail Oils</h5>
        <p class="card-text ">
          The EssenChelle Oil range is sourced from the most natural souces that can be found,
          they have not been tested on animals and the refinement process is top grade. They contain
          the healthiest ingredients and have been handpicked for our clientele. We provide full instructions
          and health guidelines and can help you achieve your objectives, both as a first time user or a long time user.
        </p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <br>
      <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1677340332/essenchelle/massageoils_glimel.jpg"
        class="card-img-top" alt="Massage Oil Products" />
      <div class="card-body">
        <h5 class="card-title text-center text-purple">Massage Oils</h5>
        <p class="card-text">Our massage oils offer the combination of the best quality and richest aroma that can be
          achieved. They
          are versatile oils, that can be used safely in every circumstance. Their potency is well within safety
          guidelines and we supply
          full documentation on how they can be used safely. Always ensure you follow the guidlines for a rewarding
          experience.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <br>
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
        alt="Aromatherapy Oil Burners" />
      <div class="card-body">
        <h5 class="card-title text-center text-purple">Aromatherapy Burners</h5>
        <p class="card-text">
          We have a wonderful eclectic collection of aromatherapy burners, that will cater for a wide range of customer
          tastes,
          so explore our current range for the perfect Burner. Used in combination with our essential oils, you can fill
          your
          space with a soothing or uplifting atmosphere.
        </p>
      </div>

    </div>
  </div>
</div>

  <hr>

  <div class="card h-100">
    <h2 class="mt-2 logo-font text-purple text-center">Testimonials</h2>
    <p class="col-md-6 text-about text-center align-content-center">But don't just take our word for it, instead have a
      look at our testimonials from happy customers, who have already
      availed of our products. We love hearing from our customers and value your experience. Please share your
      experiences with us
      and maybe your testimonial will be featured in the future.
    </p>
  </div>
</div>
</div>

{% endblock %}