{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="GwAU1BoLfecqAd29U0YYEdwwbIn8rIA4PfJ5xP-Nbf0" />
    <meta name="description" content="Discover how essential oils can transform your health">
    <meta name="keywords" content="ecommerce, essential oils, oil diffusers, massage oils, Highest quality essential oils, 
    certified organic oils,holistic health, natural health, revive essential oils, essential oils near me, aromatherapy, 
    bespoke blends, massage therapy, essential oil burners, Ireland">
    <meta name="author" content="Michelle Hickey">
    <meta name="theme-color" content="#800080">
    {% endblock meta %}

    {% block corecss %}
    <!-- <link rel="preload" as="image"
        href="https://res.cloudinary.com/dspwticaf/image/upload/v1679770255/essenchelle/massageoil_aj94h7_ddyzbq.webp"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@400;900&display=swap" rel="stylesheet">       
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <link rel="preload" as="style" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock corecss %}
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/favicon-192x192.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    
    {% block additional_styles %}
    <style>
        body {
            background: url('https://res.cloudinary.com/dspwticaf/image/upload/v1679770255/essenchelle/massageoil_aj94h7_ddyzbq.webp') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    {% endblock %}

   
    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!--Mail Chimp Link-->
    
    <!--Iconify-->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>    
    {% endblock corejs %}

    <title>EssenChelle Oils {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <!-- Navbar -->
       
    <div id="topnav" class="row bg-white d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link" aria-label="home page link">
                <img src="https://res.cloudinary.com/dspwticaf/image/upload/v1679770988/essenchelle/essenchelle-logo_m11wns_ejct1t.webp"
                    class="img-responsive" alt="essenchelle logo" width="171" height="134">
            </a>
        </div>


        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <label for="siteSearch" class="sr-only">Search</label>
                    <input class="form-control border border-black rounded-0" type="text" name="q" id="siteSearch"
                        placeholder="Search our site">
                    <div class="input-group-append">                        
                        <button class="form-control btn btn-white border border-black rounded-0" name="search" type="submit" aria-label="Search">
                            <span class="icon">
                                <iconify-icon inline icon="material-symbols:search" class="text-purple" width="30">
                                </iconify-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown show">
                    <a class="text-purple nav-link" href="#" id="profile-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div>
                                <iconify-icon inline icon="healthicons:ui-user-profile" class="text-purple" width="30">
                                </iconify-icon>
                            </div>
                            <p class="my-0 text-purple">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item logo-font nav-link">Product
                            Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item logo-font nav-link">My Profile</a>
                        <a href="{% url 'favourite_list' %}" class="dropdown-item logo-font nav-link">Product
                            Favourites</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item logo-font nav-link">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item logo-font nav-link">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item logo-font nav-link">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_bag' %}" aria-label="view shopping bag button">
                        <div class="text-center">
                            <div>
                                <iconify-icon inline icon="ic:round-shopping-bag" class="text-purple" width="30">
                                </iconify-icon>
                            </div>
                            <p class="my-0 text-purple">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-purple text-white">
            <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
        </div>
    </div>



    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block postloadjs %}

    <script>
        $('.toast').toast('show');
    </script>    

    {% endblock %}

</body>
</html>