{% extends "base.html" %}
{% block title %}EssenchelleOils/Delete Product{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if request.user.is_superuser %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4 text-purple mt-5">Product Management</h2>
            <h5 class="text-muted">Delete a Product</h5>
            <hr>
            <br>
            <h6 class="text-danger mb-3">Are you sure you want to Delete this product?</h6>
            <h6>{{ product.name }}</h6>           
            <form class="form text-muted" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-danger btn-lg center">Delete</button>
            </form>
            <hr>
        </div>
    </div>
</div>

{% else %}
<div class="overlay"></div>
<br>
<h6 class="ml-3 text-purple">Sorry, you are not allowed to delete this Product</h6>
{% endif %}
{% endif %}
    <a href="{% url 'products' %}" class="btn btn-dark ml-5 mb-3">Back</a>

{%endblock%}