{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="top"></div>
<div class="overlay"></div>
<h2 class="mt-4 text-purple text-center">Product Favourites</h2>
<p class="text-center">Product favourites will show here</p>
<section class="faveproducts">
  <br>
  <br>
  <div class="row">
    {% for product in favourites %}
    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-4">
      <div class="card h-100 border-0">
        <br>
        {% if product.image %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="card-img-top img-fluid"
            src="https://res.cloudinary.com/dspwticaf/image/upload/v1678713841/noimage_tiqei6.png"
            alt="{{ product.name }}">
        </a>
        {% endif %}
        <div class="card-body pb-0">
          <div class="card-footer bg-white pt-0 border-0 text-left">
            <h4 class="mb-0 text-purple">{{ product.name }}</h4>
            <div class="col">
              <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
              {% if product.category %}
              <p class="small mt-1 mb-0">
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                  <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                </a>
              </p>
              {% endif %}
              {% if product.rating %}
              <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
              {% else %}
              <small class="text-muted">No Rating</small>
              {% endif %}
              <form action="{% url 'favourite_add' product.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary float-right">
                  Remove </button>
              </form>
              <br>
              <hr>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

    {% endfor %}

  </div>
</section>

<br>
<a id="top-button" class="text-purple" href="#top" aria-label="Going to top of page">Top of Screen &nbsp; <iconify-icon
    inline icon="mdi:arrow-up" width="18"></iconify-icon>
</a>

{% endblock %}