{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-1">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-6 mt-md-6">
                    <h2 class="text-purple text-center">{{ product.name }}</h2>                                       
                    <p class="mb-0 text-center product-description">Description:{{ product.description }}</p>                    
                    <p class="lead mb-0 text-center">Our Price:&nbsp;€{{ product.price }}</p>                    
                    {% if product.category %}
                    <p class="small mt-2 mb-0 text-center">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}                    
                    {% if product.rating %}
                    <p class="small mt-1 mb-0 text-center">
                        <a class="text-muted"><iconify-icon inline icon="ic:outline-star-border"></iconify-icon>{{ product.rating }} / 5</small>
                        <br>
                    {% else %}
                        <small class="text-muted text-center">No Rating</small>
                        <br>
                    {% endif %}
                    </div>
                    
                    <a href="" class="btn btn-primary center"><iconify-icon inline icon="ic:round-shopping-bag" class="text-white" width="18"></iconify-icon>&nbsp;Add To Bag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}